body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 0.875em;
    letter-spacing: 0.063em;
  }
  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
      to right top,
      #809ffc,
      #8096fe,
      #828cff,
      #8881ff,
      #8f75fd,
      #a46ef4,
      #b667eb,
      #c560e0,
      #d962cf,
      #e569bf,
      #ed72b2,
      #f07da8
    );
  }

.neatedWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    width: 25%;
}

.neatedWrapper input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}

.nextButton{
    width: 40%;
    height: 38px;
    color: white;
    outline: none;
    background-color: #00c9b7;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}

.nextButton:hover{
    background-color: #028f83;
    width: 42%;
    /* height: 40px; */
    transition: 0.5s;
}

.optionsWrapper{
  /* border: 1px solid black; */
  width: 40%;
  height: auto;
  height: 350px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px black;
}

.beverageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 5%;
  height: 350px;
}

.nestedchild{
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}

.checkBoxWrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 97%;
  height: 35px;
  background-color: #ebf0f3;
  border-radius: 15px;
  padding-left: 10px;
  outline: none;
}

label{
  font-size: 17px;
  color: black;
}

.buttonWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 95%;
}
.nextBtn{
  color: white;
  background-color: #00c9b7;
  border: none;
  width: 35%;
  height: 40px;
  border-radius: 30px;
  box-shadow: 3px 5px 5px black;
  outline: none;
  font-weight: bold;
  transition: 0.7s;
}

.nextBtn:hover{
  box-shadow: none;
  transition: 0.7s;
}